rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email == "salahalgarmani@gmail.com"
        && request.auth.token.email_verified == true;
    }

    match /{document=**} {
      allow read, write: if isOwner();
    }
  }
}
